body {
    font-family: arial;
    color: rgb(151, 10, 85);
    background-color: rgb(171, 199, 191);
    text-align: center;
    max-width: 860px;
}
nav{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    max-width: 600px;
}
#titulos{
    font-weight: 700;
}
#cont {
    font-weight: 400;
}