body {
    font-family: monospace;
    font-size: 1.15em;
    color: rgb(116, 61, 90);
    background-color: rgb(187, 206, 201);
    text-align: center;
    max-width: 860px;
}
nav{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    max-width: 600px;
}
#titulos{
    font-weight: 700;
}
#cont {
    font-weight: 400;
}

iframe{
    background-color: bisque;
    min-width: 400px;
    
}